*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    width: 100vw;
    overflow-x: scroll;
    background-color: white;
    color: black;
    font-family: 'Poppins','Lato',serif;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: 0 0 8px grey;
}

nav::-webkit-scrollbar{
    display: none;
}

.logo {
    display: flex;
}

.logo img {
    height:50px;
    padding: 5px;
    margin-right: auto;
}

.logo h2{
    padding: 6.5px 20px 0 0;
    font-weight: 600;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    min-height: 50px;
    margin-right: auto;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Poppins','Lato',serif;
}

.nav-links li{
    display: inherit;
    justify-content: center;
    list-style: none;
    padding: 15px 0px;
    width: 25%;
    min-width: 80px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    animation: ease-in-out 0.5s;
    transition: ease-in-out 0.1s;
}

.nav-links li:hover{
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgrey;
    background-color: lightgray;
}

.search{
    width: 20%;
    min-width: 200px;
    margin-left: 100px ;
    padding-right: 20px;
}

.search input{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background-color: whitesmoke;
    border:2px solid rgb(220, 220, 220);
    padding: 10px;
    color: rgb(38, 38, 38);
}

.search input::placeholder{
    color: grey;
    font-family: 'Poppins','Lato',serif;
}

.search input:focus{
    outline: none;
    background-color: rgb(240, 240, 240);
    border:2px solid rgb(205, 205, 205);    
}

.sign-in{
    width: 7%;
    min-width: 90px;
    padding: 0 20px 0 0 ;
}

.sign-in button{
    width:100%;
    height: 40px;
    border-radius: 40px;
    background-color:  rgb(220, 220, 220);
    font-family: 'Poppins','Lato',serif;
    font-weight: 500;
    border: transparent;
    transition: ease-in-out 0.15s;
}

.sign-in button:hover{
    background-color:  yellow;
}

.moto{
    padding: 12px 0 10px 15px;
    height: 50px;
    font-family: 'Poppins','Lato',serif;
    color: grey;
    font-size: 1rem;
}

.moto span{
    transition: ease-in-out 0.1s;
}

#link2:hover{
    color: tomato;   
}

#link1:hover{
    color:deepskyblue;
}

.card{ 
    width: 100%;
    height: 70vh;
    background-image:url("./card.avif") ;   
}

.card div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',lato,serif;
}

.card h1{
    font-size: 3rem;
    color:rgb(84, 9, 9);
    font-weight: 600;
    padding: 35px;
}

.card bold{
    font-weight: 900;
}

.card h3{
    font-size: 2rem;
    color: rgb(43, 33, 33);
    font-weight: 500;
    padding: 30px;
}

.card button{
    margin-top: 40px;
    margin-bottom: 120px;
    width: 130px;
    height: 50px;
    border-radius: 40px;
    background-color:#1877F2;
    border: transparent;
    font-family: 'Roboto',lato,serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    transition: ease-in-out 0.15s;
}

.card button:hover{
    transform: scale(1.1);
    background-color:darkslategray;
}


